.carrousel {
    position: absolute;
    width: 30%;
    height: 75%;
    top: 25%;
    left: 35%;
    border: 1px solid #aaa;
    background-color: #001858;
    transform: scale(0);
    transition: transform 0.5s;
  }
  
  .carrousel--activer {
    transform: scale(1);
  }
  
  .carrousel__x {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
  }
  
  .carrousel__figure {
    width: auto;
    height: 100%;
  }
  
  .carrousel__img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: -.5%;
    opacity: 0;
    transform: opacity 0.5s;
    background-position: center center;
  }
  
  .carrousel__img--activer {
    opacity: 1;
  }
  
  .carrousel--activer {
    transform: scale(1);
  }
  
  .carrousel__form {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  
  .carrousel__radio {
    display: inline-block;
    margin: 5px;
  }